<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>美多商城-用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div id="app" v-clock>
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">欢迎来到商城!</div>
                <div class="fr">
                    <div class="login_info fl">
                        欢迎您：<em>[[]]</em>
                    </div>
                    <div class="login_btn fl">
                        <a href="login.html">登录</a>
                        <span>|</span>
                        <a href="register.html">注册</a>
                    </div>
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="user_center_info.html">用户中心</a>
                        <span>|</span>
                        <a href="cart.html">我的购物车</a>
                        <span>|</span>
                        <a href="user_center_order.html">我的订单</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search_bar clearfix">
            <a href="index.html" class="logo fl"><img src="images/logo.png"></a>
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
            <div class="search_con fr mt40">
                <input type="text" class="input_text fl" name="" placeholder="搜索商品">
                <input type="button" class="input_btn fr" name="" value="搜索">
            </div>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>

        <!-- 订单循环，每个订单一个块 -->
            <div v-for="order in orders" :key="order.order_id">
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">[[ order.create_time ]]</li>
                    <li class="col02">订单号：[[ order.order_id ]]</li>
                </ul>

                <table class="order_list_table w980">
                    <tbody>
                        <tr>
                            <td width="55%">
                                <!-- 每个订单里的商品列表 -->
                                <ul class="order_goods_list clearfix" v-for="sku in order.skus" :key="sku.id">
                                    <li class="col01"><img :src="sku.default_image_url"></li>
                                    <li class="col02">
                                        [[ skus.name ]]
                                        <em>[[ skus.price ]]元</em>
                                    </li>
                                    <li class="col03">[[ skus.count ]]</li>
                                    <li class="col04">[[ skus.amount ]]元</li>
                                </ul>
                            </td>
                            <td width="15%">[[ orders.total_amount ]]元</td>
                            <td width="15%">[[ orders.pay_method_name ]]</td>
                            <td width="15%">
                                <a href="javascript:;" class="oper_btn"
                                   @click="go_to_detail(order.order_id)">
                                    [[ get_action_text(orders.status) ]]
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 分页，保留原来的 class 和结构 -->
            <div class="pagenation">
                <a href="javascript:;" v-show="current_page > 1"
                   @click="change_page(current_page - 1)">上一页</a>

                <a href="javascript:;" v-for="num in total_pages"
                   :key="num"
                   @click="change_page(num)"
                   :class="num === current_page ? 'active' : ''">
                    [[ num ]]
                </a>
                <a href="javascript:;" v-show="current_page < total_pages"
                   @click="change_page(current_page + 1)">下一页</a>
            </div>
        </div>
    </div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
<script type="text/javascript" src="js/host.js"></script>
<script type="text/javascript" src="js/vue-2.5.16.js"></script>
<script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>

<!-- 最后引入你写的订单 JS -->
<script type="text/javascript" src="js/user_center_order.js"></script>
</body>
</html>
</body>
</html>